configuration {
    modi: "drun,run,window";
    show-icons: true;
    font: "JetBrainsMono Nerd Font Mono 13";
    drun-display-format: "{name}";
    display-drun: "";
    display-run: "";
    display-window: "";
}

@theme "cybermech"
