@import "colors.rasi"

* {
    background-color: @transparent;
    text-color: @fg;
}

window {
    width: 520px;
    padding: 0;
    border: 1px;
    border-color: @border-c;
    border-radius: 4px;
    background-color: @bg;
    location: center;
    anchor: center;
}

mainbox {
    padding: 0;
    children: [ inputbar, listview ];
}

inputbar {
    padding: 16px 20px;
    spacing: 12px;
    background-color: @bg-alt;
    border: 0 0 1px 0;
    border-color: @accent;
    border-radius: 4px 4px 0 0;
    children: [ prompt, entry ];
}

prompt {
    font: "JetBrainsMono Nerd Font Mono Bold 14";
    text-color: @accent-lt;
}

entry {
    placeholder: "// query_";
    placeholder-color: @fg-dim;
    text-color: @accent;
}

listview {
    lines: 8;
    padding: 6px 4px;
    scrollbar: false;
    fixed-height: true;
}

element {
    padding: 10px 16px;
    spacing: 12px;
    border-radius: 2px;
}

element selected {
    background-color: @bg-sel;
    text-color: @accent;
    border: 0 0 0 3px;
    border-color: @accent-lt;
}

element-icon {
    size: 24px;
    vertical-align: 0.5;
}

element-text {
    vertical-align: 0.5;
    highlight: bold;
}

element normal active,
element alternate active {
    text-color: @accent-lt;
}
